---
import Layout from '../layouts/Layout.astro';
import Scene from '../components/Scene.astro';
import Hero from '../components/Hero.astro';
import GameOverlay from '../components/GameOverlay.astro';

const GAME_URL = import.meta.env.PUBLIC_GAME_URL ?? 'https://engine.gtavice.city:8000';
---
<Layout gameUrl={GAME_URL}>
  <main class="scene">
    <Scene />
    <Hero />
  </main>

  <GameOverlay />

  <script>
    import '../scripts/launcher.ts';
  </script>
</Layout>
